[Unit]
    Description=Parse power data and publish it over mqtt
    After=network.target
    StartLimitIntervalSec=10min
    StartLimitBurst=10

[Service]
    User=deploy
    Group=deploy
    ExecStart=/opt/move-on_helium/SEN/tools/grafana/daemon/ser2mqtt_power.py
    Type=simple
    WatchdogSec=36000
    Restart=always

[Install]
    WantedBy=multi-user.target
