[Unit]
    Description=Publish udp payload data over mqtt
    After=network.target
    StartLimitIntervalSec=10min
    StartLimitBurst=10

[Service]
    User=deploy
    Group=deploy
    ExecStart=/opt/move-on_helium/SEN/tools/grafana/daemon/udp2mqtt_payload.py
    Type=simple
    WatchdogSec=36000
    Restart=always

[Install]
    WantedBy=multi-user.target
